<section>
		<div class="container">
			<div class="row mb-5">
				<div class="col-lg-8 col-xl-9">
					<form action="/profileChange" >
						<div class="block">
							<!-- personal; Address-->
							<div class="block-header">
								<h5 class="mb-0">PERSONAL DETAILS</h5>
							</div>
							<div class="block-body">
								<div class="row">
									<div class="form-group col-md-6">
										<label class="form-label col-label" for="fullname_personal;">Fullname</label>
										<input class="field__input" type="text" name="fullname_personal;"
											placeholder={{first_name}} id="fullname_personal;">
									</div>
									<div class="form-group col-md-6">
										<label class="form-label col-label" for="lastname_personal">Lastname</label>
										<input class="field__input" id="lastname" type="text" name="lastname_personal;"
											placeholder={{last_name}} id="lastname_personal;">
									</div>
									<div class="form-group col-md-6">
										<label class="form-label col-label" for="emailaddress_personal;">Email Address</label>
										<input class="field__input" type="text" name="emailaddress_personal;"
											placeholder={{email}} id="emailaddress_personal;">
									</div>
		
								</div>
								<!-- /Personal; Address-->
							</div>
							<!-- Shippping Address-->
						</div>
						<div class="form-group text-center">
							<a href="" class="btn btn-outline-dark" type="submit" >
							<i class="fa fa-save mr-2"></i>Change Details</a>
						</div>

					</form>

				</div>
				
			</div>
	</section>

